<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
        background-color:light green;
        }
        .travel{
        text-align:center;
        border-collapse:collapse;}
        .travel td,th{border:1px solid green;padding:30px;}
        .about{
        padding-top:1px;
        }
    </style>
</head>
<body>
<h1 style="color:red;background-color:black;text-align:center;">ABOUT US </h1>
<p><strong><h2><i>A travel agency is a retail business, that sells travel related products and services to customers, on behalf of suppliers, such as airlines, car rentals, cruise lines, hotels, railways, sightseeing tours and package holidays that combine several products. In addition to dealing with ordinary tourists, most travel agencies have a separate department devoted to making travel arrangements for business travelers and some travel agencies specialize in commercial and business travel only. There are also travel agencies that serve as general sales agents for foreign travel companies, allowing them to have offices in countries other than where their headquarters are located.</i></h2></strong></p>
<table class="travel">
    <tr>
        <td><b>Kerala Voyager Tourism</b></td>



    <td>    <b>TC 13/1827/45-46 Kalakaumudi Lane Surya Nagar, Medical College P.O, Kumarapuram, Thrissur-695011, Kerala, India</h2>
    </b>
    </td>
</tr>
    <tr>
    <td><b>Industry</b></td>
    <td><b>Travel Arrangements</b></td>
    </tr>
     <tr>
    <td><b>Company size</b></td>
    <td><b>2-10 employees</b></td>
    </tr>
    <tr>
    <td><b>Type</b></td>
    <td><b>Privately Held</b></td>
    </tr>
     <tr>
    <td><b>Founded</b></td>
    <td><b>2005</b></td>
    </tr>
     <tr>
    <td><b>Specialties</b></td>
    <td><b>Travel & Tourism</b></td>
    </tr>
</tr>
</table>
<div class="about">
    <h2 style="padding-left:12cm"></h2>
</div>

</body>
</html>